# OS / Editor
.DS_Store
*.log
.idea/
*.iml

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
coverage/

# iOS
ios/Flutter/.last_build_id

# Android build outputs
android/app/build/
android/.gradle/

# VS Code (optional – ignore if you don’t want to track settings)
.vscode/
